@model ScreeningTool.Models.Employee

@{
    ViewData["Title"] = "Edit";
}
<style>
    .dropdown {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
</style>

<h2>Edit</h2>

<div class="row">

    <div class="col-md-6">
        <div class="card ">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-text">
                    <h4 class="card-title">Employees</h4>
                    @*<p class="card-category">Create</p>*@
                </div>
            </div>
            <div class="card-body ">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <input asp-for="EmployeeId" class="form-control" />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNo" class="control-label"></label>
                        <input asp-for="ContactNo" class="form-control" />
                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPerson" class="control-label"></label>
                        <input asp-for="ContactPerson" class="form-control" />
                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactPersonNo" class="control-label"></label>
                        <input asp-for="ContactPersonNo" class="form-control" />
                        <span asp-validation-for="ContactPersonNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Barangay" class="control-label"></label>
                        <input asp-for="Barangay" class="form-control " />
                        <span asp-validation-for="Barangay" class="text-danger "></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="PickUpPoint" class="control-label"></label>
                        <input asp-for="PickUpPoint" class="form-control" />
                        <span asp-validation-for="PickUpPoint" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>*@
                    <div class="form-group">
                        <label asp-for="Birthday" class="control-label"></label>
                        <input asp-for="Birthday" class="form-control datepicker" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label for="exampleInput11" class="bmd-label-floating">Vaccinated?</label>

                        <select name="Vaccinated" class="selectpicker col-md-12" data-style="select-with-transition" asp-for="Vaccinated">
                            <option value="">Please select</option>
                            <option value="0">NO</option>
                            <option value="1">YES</option>
                        </select>

                    </div>
                    <div class="form-group" id="frmDose" style="padding-left:50px;" >

                        <div class="form-group">
                            <label>1st dose (Date)</label>
                            <input type="text" class="form-control datepicker" id="FirstDose" name="FirstDose">
                        </div>

                        <div class="form-group">
                            <label>2nd dose (Date)</label>
                            <input type="text" class="form-control datepicker" id="SecondDose" name="SecondDose">
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select name="Organic" class="selectpicker col-md-12" data-style="select-with-transition" asp-for="Organic">
                            <option value="1">Organic</option>
                            <option value="0">In-Organic</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <label class="control-label">Status</label>
                        <select name="Status" class="selectpicker col-md-12" data-style="select-with-transition" asp-for="Status">

                            <option value="Active">Active</option>
                            <option value="In-Active">In-Active</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Department</label>
                        <select asp-for="DepartmentId" class="form-control selectpicker col-md-12" data-style="select-with-transition" asp-items="ViewBag.DepartmentId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>

        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>



</div>
<script src="~/js/core/jquery.min.js"></script>
<script src="~/js/plugins/moment.min.js"></script>
<script src="~/js/plugins/bootstrap-datetimepicker.min.js"></script>

<script>
    $("#Birthday").val('@Model.Birthday');
</script>


